<footer class="footer mt-5">
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/adam-husainy-876453317/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
      
     <a href="https://x.com/AdamHusainy" target="_blank"> <i class="fa-brands fa-twitter"></i></a>
     <a href="https://www.instagram.com/aadam_980?igsh=YnlsdTBncXV1aDBl" target="_blank"><i class="fa-brands fa-instagram"></i></a> 
    </div>
    <div class="f-info-brand">&copy; Adam Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
