<% layout("/layouts/boilerplate") %>

<body>
  <div id="filters">
    <div class="filter">
      <i class="material-symbols-outlined"> local_fire_department </i>
      <p>Trending</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> bed</i>
      <p>Rooms</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> location_city</i>
      <p>Iconic cities</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> landscape </i>
      <p>Castles</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> castle</i>
      <p>Castles</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> pool</i>
      <p>Amazing Pools</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> camping </i>
      <p>Camping</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> agriculture </i>
      <p>Farms</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> ac_unit </i>
      <p>Arctic</p>
    </div>

    <div class="filter">
      <i class="material-symbols-outlined"> houseboat </i>
      <p>Houseboat</p>
    </div>
    <div class="filter">
      <i class="material-symbols-outlined"> meeting_room</i>
      <p>MeetingRoom</p>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    <% for( let listing of allListings ) { %>
    <a
      href="/listings/<%= listing._id %>"
      class="card col listing-card"
     
    >
      <div class="card col" style="width: 20rem">
        <img
          src="<%= listing.image.url  %>"
          class="card-img-top"
          alt="Listing_images"
          style="height: 20rem"
        />
        <div class="card-img-overlay">&#10084;</div>
        <div class="card-body">
          <p class="card-text mt-2">
            <b><%= listing.title %> </b> <br />
            &#8377; <span class="price"><%= listing.price %></span>/Night
            <i id="tax-info1">&nbsp; &nbsp; +18% GST</i>
            <br>
              <b class="total-info">Total: &#8377; <span class="total-price"></span></b>
            
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>

</body>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("total-info");
    let priceElements = document.getElementsByClassName("price");
    let totalPriceElements = document.getElementsByClassName("total-price");
    let taxinfo1=document.getElementById("tax-info1")

    for (let i = 0; i < priceElements.length; i++) {
      let price = parseFloat(priceElements[i].innerText.replace("₹", "").trim());
      let gst = price * 0.18; // 18% GST
      let totalPrice = price + gst;

      totalPriceElements[i].innerText = totalPrice.toLocaleString("en-IN");

      if (taxInfo[i].style.display !== "inline") {
        taxInfo[i].style.display = "inline";
        taxinfo1.style.display = "inline";

      } else {
        taxInfo[i].style.display = "none";
        taxinfo1.style.display = "none";

      }
    }
  });
</script>


